# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
       - image: quay.io/3scale/apisonator-ci:2.84.0

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/app

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - rbenv-dependencies-{{ checksum ".ruby-version" }}
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - rbenv-dependencies-
          - v1-dependencies-

      - run:
          name: rbenv update
          command: |
            rbenv_update_env

      - save_cache:
          paths:
            - ~/.rbenv
          key: rbenv-dependencies-{{ checksum ".ruby-version" }}

      - run:
          name: bundle install
          command: |
            bundle_install_rubies

      - save_cache:
          paths:
            - ~/.rbenv/versions
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      #run tests!
      - run:
          name: Run tests on Ruby 2.2
          command: |
            TEST_RUBY_VERSION=2.2 script/ci

      - run:
          name: Run tests on Ruby 2.3
          command: |
            TEST_RUBY_VERSION=2.3 script/ci

      #- run:
      #    name: Run tests on all Rubies
      #    command: |
      #      TEST_ALL_RUBIES=1 script/ci
